<a href="https://colab.research.google.com/github/venkataratnamb20/pubdataml/blob/main/pytrade_portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab - excercises

## Pandas DataFrame: Create from lists of values

In [ ]:
import pandas as pd

last_names = ['Connor', 'Connor', 'Reese']
first_names = ['Sarah', 'John', 'Kyle']
df = pd.DataFrame({
  'first_name': first_names,
  'last_name': last_names,
})
df

## Pandas DataFrame: Rename multiple Columns

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'Year': [2016, 2015, 2014, 2013, 2012],
    'Top Animal': ['Giant panda', 'Chicken', 'Pig', 'Turkey', 'Dog']
})

df.rename(columns={
    'Year': 'Calendar Year',
    'Top Animal': 'Favorite Animal',
}, inplace=True)
df

## Pandas DataFrame: Query by regexp (regular expression)

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle', 'Joe'],
  'last_name': ['Connor', 'Connor', 'Reese', 'Bonnot'],
})

df[df.last_name.str.match('.*onno.*')]

## Pandas DataFrame: Query by variable value

Evaluate a variable as the value to find.

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle'],
  'last_name': ['Connor', 'Connor', 'Reese'],
})

foo = 'Connor'
df.query('last_name == @foo')

## Pandas DataFrame: Query using variable value as a column name

Evaluate a variable, to use its value as the name of a column in a query.

E.g. Query for rows where `John` is the value in the column named `first_name`.

In [ ]:
import pandas as pd
df = pd.DataFrame(data={
  'first_name': ['Sarah', 'John', 'Kyle'],
  'last_name': ['Connor', 'Connor', 'Reese'],
})

column_name = 'first_name'
df.query(f"`{column_name}` == 'John'")

## Pandas DataFrame: Query by Timestamp above a value

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00',
           '2022-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

df.query('time >= "2022-09-14 00:52:30-07:00"')

## Pandas DataFrame: Query for Timestamp between two values

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00',
           '2022-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

begin_ts = '2022-09-14 00:52:00-07:00'
end_ts = '2022-09-14 00:54:00-07:00'

df.query('@begin_ts <= time < @end_ts')

## Pandas DataFrame: Filter by Timestamp in DatetimeIndex using `.loc[]`

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00',
           '2022-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)
df.set_index('time', inplace=True)

df.loc['2022-09-14':'2022-09-14 00:53']

## Pandas DataFrame: Filter by Timestamp using TimeDelta string

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00',
           '2022-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

def rows_in_time_range(df, time_column, start_ts_str, timedelta_str):
  # Return rows from df, where start_ts < time_column <= start_ts + delta.
  # start_ts_str can be a date '2022-09-01' or a time '2022-09-14 00:52:00-07:00'
  # timedelta_str examples: '2 minutes'  '2 days 2 hours 15 minutes 30 seconds'
  start_ts = pd.Timestamp(start_ts_str).tz_localize('US/Pacific')
  end_ts = start_ts + pd.to_timedelta(timedelta_str)
  return df.query("@start_ts <= {0} < @end_ts".format(time_column))

rows_in_time_range(df, 'time', '2022-09-14 00:00', '52 minutes 31 seconds')

## Pandas: Describe Timestamp values in a column

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-14 00:52:00-07:00', '2022-09-14 00:52:30-07:00',
           '2022-09-14 01:52:30-07:00'],
  'letter': ['A', 'B', 'C'],
})
df['time'] = pd.to_datetime(df.time)

df['time'].describe(datetime_is_numeric=True)

## Pandas DataFrame: Explode a column containing dictionary values into multiple columns

This code transforms or splits the dictionary column into many columns.

E.g. The output DataFrame of this cell will have columns named [`date, letter, fruit, weather`].

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'date': ['2022-09-14', '2022-09-15', '2022-09-16'],
  'letter': ['A', 'B', 'C'],
  'dict' : [{ 'fruit': 'apple', 'weather': 'aces'},
            { 'fruit': 'banana', 'weather': 'bad'},
            { 'fruit': 'cantaloupe', 'weather': 'cloudy'}],
})

pd.concat([df.drop(['dict'], axis=1), df['dict'].apply(pd.Series)], axis=1)

## Pandas DataFrame: Extract values using regexp (regular expression)

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'request': ['GET /index.html?baz=3', 'GET /foo.html?bar=1'],
})

df['request'].str.extract('GET /([^?]+)\?', expand=True)

## Pandas Timestamp: Convert string to Timestamp, using date only

I.e. Midnight on the given date.

In [ ]:
import pandas as pd

pd.Timestamp('9/27/22').tz_localize('US/Pacific')

## Pandas Timestamp: Convert string to Timestamp

In [ ]:
import pandas as pd

pd.Timestamp('9/27/22 06:59').tz_localize('US/Pacific')

## Pandas: Create a TimeDelta using `unit`

From an integer.
`unit` is a string, defaulting to `ns`. Possible values:

In [ ]:
import pandas as pd

pd.to_timedelta(1, unit='h')

## Pandas: Create a TimeDelta using available kwargs

Example keyworded args: {days, seconds, microseconds, milliseconds, minutes, hours, weeks}

In [ ]:
import pandas as pd

pd.Timedelta(days=2)

## Pandas: Create a TimeDelta from a string

In [ ]:
import pandas as pd

pd.Timedelta('2 days 2 hours 15 minutes 30 seconds')

## Pandas: Replace NaN values in a Column

In [ ]:
import numpy as np
import pandas as pd
df = pd.DataFrame({
  'dogs': [5, 10, np.nan, 7],
})

df['dogs'].replace(np.nan, 0, regex=True)

## Pandas DataFrame: Drop duplicate rows

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle', 'Joe'],
  'last_name': ['Connor', 'Connor', 'Reese', 'Bonnot'],
})
df.set_index('last_name', inplace=True)

df.loc[~df.index.duplicated(), :]

## Pandas DataFrame: Ignore one Column

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle', 'Joe'],
  'last_name': ['Connor', 'Connor', 'Reese', 'Bonnot'],
})

df.loc[:, df.columns!='last_name']

## Pandas DataFrame: Intersect Indexes

In [ ]:
import pandas as pd
terminator_df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle'],
  'last_name': ['Connor', 'Connor', 'Reese'],
})
terminator_df.set_index('first_name', inplace=True)

buckaroo_df = pd.DataFrame({
  'first_name': ['John', 'John', 'Buckaroo'],
  'last_name': ['Parker', 'Whorfin', 'Banzai'],
})
buckaroo_df.set_index('first_name', inplace=True)

terminator_df.index.intersection(buckaroo_df.index).shape

## Pandas DataFrame: Select all rows from A that are not in B, using the index

In [ ]:
import pandas as pd
terminator_df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle'],
  'last_name': ['Connor', 'Connor', 'Reese'],
})
terminator_df.set_index('first_name', inplace=True)

buckaroo_df = pd.DataFrame({
  'first_name': ['John', 'John', 'Buckaroo'],
  'last_name': ['Parker', 'Whorfin', 'Banzai'],
})
buckaroo_df.set_index('first_name', inplace=True)

terminator_df[~terminator_df.index.isin(buckaroo_df.index)]

## Pandas DataFrame: Select rows by an attribute of a column value

Use the Series `map()` method.
E.g. To filter by the length of a column values:

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle'],
  'last_name': ['Connor', 'Connor', 'Reese'],
})

df[df['last_name'].map(len) == 5]

## Pandas DataFrame: Sort the count of rows grouped on columns

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'first_name': ['Sarah', 'John', 'Kyle'],
  'last_name': ['Connor', 'Connor', 'Reese'],
})

df.groupby(['last_name']).size().sort_values(ascending=False)

## Pandas DataFrame: Reshape to have 1 row per value in a list column

Creates a new DataFrame that is a transformed version of the input. E.g.
*   Input: df with a column named `msg_ids` that is a list of values (i.e. many per row, at least in some rows).
*   Output: new_df which has 1 row per unique value found in any of the original `msg_ids` lists, with that value in a new column named `msg_id`.

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'date': ['9/1/22', '9/2/22', '9/3/22'],
  'action': ['Add', 'Update', 'Delete'],
  'msg_ids': [[1, 2, 3], [], [2, 3]],
})
df.set_index('date', inplace=True)


temp_series = df['msg_ids'].apply(pd.Series, 1).stack()
temp_series.index = temp_series.index.droplevel(-1)
temp_series.name = 'msg_id'
new_df = temp_series.to_frame()
new_df.set_index('msg_id', inplace=True)
new_df.loc[~new_df.index.duplicated(), :] # Drop duplicates.

## Pandas: DataFrames: Group Timeseries by Frequency

You can group timestamped data into intervals of arbitrary duration using a Grouper object to specify groupby instructions.  The `freq` parameter is a string that may contain an integer followed by an [offset alias](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases).  E.g. To see output for 2 minute long intervals:

In [ ]:
import pandas as pd
df = pd.DataFrame({
  'time': ['2022-09-01 00:00:01-07:00', '2022-09-01 00:00:02-07:00',
           '2022-09-01 00:01:00-07:00', '2022-09-01 00:02:00-07:00',
           '2022-09-01 00:03:00-07:00', '2022-09-01 00:04:00-07:00',
           '2022-09-01 00:05:00-07:00', '2022-09-01 00:07:00-07:00'],
  'requests': [1, 1, 1, 1, 1, 1, 1, 1],
})
df['time'] = pd.to_datetime(df.time)

df.groupby(pd.Grouper(key='time', freq='2min')).sum()

# vb - work

## Resources

Courses

- [Welcome to Nick DeRobertisâ€™ Financial Modeling Course!](https://nickderobertis.github.io/fin-model-course/)
- [FinanceAndPython](https://financeandpython.com/courses/)
- [Boston Dataset](https://data.boston.gov/dataset/property-assessment)
- [Datacamp: Python For Finance Tutorial: Algorithmic Trading](https://www.datacamp.com/tutorial/finance-python-trading)
  - [github/datacamp/Python For Finance Beginners Tutorial.ipynb](https://github.com/datacamp/datacamp-community-tutorials/blob/master/Python%20Finance%20Tutorial%20For%20Beginners/Python%20For%20Finance%20Beginners%20Tutorial.ipynb)
  - [AN INTRODUCTION TO BACKTESTING WITH PYTHON AND PANDAS, Michael Halls-Moore - QuantStart.com](https://s3.amazonaws.com/quantstart/media/powerpoint/an-introduction-to-backtesting.pdf)
  - [Quantstart: Backtesting a Moving Average Crossover in Python with pandas](https://www.quantstart.com/articles/Backtesting-a-Moving-Average-Crossover-in-Python-with-pandas/)
  - [tpq/finpy_excerpt.py](https://home.tpq.io/wp-content/uploads/2021/04/finpy_excerpt.pdf)
- [github/yhilpisch/dx](https://github.com/yhilpisch/dx/blob/master/05_dx_portfolio_multi_risk.ipynb)

## Python For Finance Tutorial: Algorithmic Trading
- [Datacamp](https://www.datacamp.com/tutorial/finance-python-trading)
- [Download Notebook - github](https://github.com/datacamp/datacamp-community-tutorials)
- [datacamp: Jupyter Notebook tutorial](https://www.datacamp.com/tutorial/tutorial-jupyter-notebook)
- [github: jupyter notebook resources](https://github.com/markusschanta/awesome-jupyter#hosted-notebook-solutions)
- [github/pytudes: list of notebooks](https://github.com/norvig/pytudes/tree/main)

Importing financial data into Python
- [pandas-datareader docs](https://pandas-datareader.readthedocs.io/en/latest/remote_data.html)
- [pandas-datareader: video by Matt Macarthy](https://pandas-datareader.readthedocs.io/en/latest/remote_data.html)
- [Python Quants plotform](https://home.tpq.io/pqp/)

In [ ]:
# !pip install --upgrade pandas-datareader

In [ ]:
import yfinance as yf
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt

aaplt = yf.Ticker('AAPL')

aapl = aaplt.history(
                  start=dt.datetime(2006, 10, 1),
                  end=dt.datetime(2012, 1, 1)
                  )

aapl.head()

In [ ]:
# aapl.asfreq("M", method="bfill")
aapl.resample('M').Close.plot()

In [ ]:
# daily percent change
daily_pct_change = aapl.Close.pct_change().fillna(0)
daily_pct_change.plot()
plt.show()

plt.hist(daily_pct_change, bins=30)
plt.show()

In [ ]:
daily_close = aapl.Close
daily_log_returns_shift = np.log(daily_close / daily_close.shift(1))

In [ ]:
cum_daily_return = (1 + daily_pct_change).cumprod()

plt.plot(cum_daily_return)
plt.show()

In [ ]:
def get(tickers, startdate, enddate):
  def data(ticker):
    return (yf.download(ticker, start=startdate, end=enddate, interval='1d'))
  datas = map (data, tickers)
  return(pd.concat(datas, keys=tickers, names=['Ticker', 'Date']))

tickers = ['AAPL', 'MSFT', 'IBM', 'GOOG']
all_data = get(tickers, dt.datetime(2006, 10, 1), dt.datetime(2012, 1, 1))

In [ ]:
all_data.head()

In [ ]:
# rolling_mean(), rolling_std(),
# rolling() with mean() or std(),
# volatility- pd.rolling_std(data, window=x) * math.sqrt(window)

## Udemy- Financial Modeling with Python
- [Investment Analysis & Portfolio Management with Python](https://www.udemy.com/course/investment-analysis-portfolio-management-with-python/learn/lecture/15478650#overview)

Linear model
$$ y = ð›¼ + ð›½x + ðœ€ $$

### CAPM


$$ E[r_j] = r_f + ð›½_j(E[r_m] - r_f)$$

$E[r_j]$ = Expected return on a stock \
$E[r_m]$ = Expected return on the market \
$r_f$ = Risk-free rate (Eg. Yield of T-bills or T-bonds) \
$\beta_j$ = Systematic risk (market risk) of stock j \
$E[r_m] - r_f$ = Excess market return

In [ ]:
# get beta from Financial Times (FT)
# get risk free (rf) rate from bonds yield- 10yr (FT) US Treasyry Bonds
# Get market return from index () return in 1yr
# E[rGOOG] = 0.0309 + 1.1233(0.1385 - 0.0309) =0.1518 = 15.18%
# https://www.ferventlearning.com/capital-asset-pricing-model/
# https://www.ferventlearning.com/asset-pricing-models-explained/
# https://www.ferventlearning.com/how-to-calculate-stock-returns/

### Risk
Variance of a stock.

### Portfolio Return and Risk

In [ ]:
import datetime

import numpy as np
import pandas as pd

from dataclasses import dataclass
from typing import Optional
import yfinance as yf
@dataclass
class Ticker:
  symbol: str
  period: str = '1y'
  interval: str = '1d'
  start: Optional[datetime.datetime] = None
  end: Optional[datetime.datetime] = None

  def __post_init__(self):
    self.data = self.get_history(period = self.period,
                                 interval = self.interval,
                               )
  @property
  def beta(self):
    return 1.0

  @property
  def ticker(self):
    return yf.Ticker(self.symbol)

  def get_history(self, *args, **kwargs):
    self.data = self.ticker.history(*args, **kwargs)
    return self.data

  @property
  def closep(self):
    return self.data.Close

  @property
  def daily_return(self):
    return self.closep.pct_change(1)

  @property
  def expect_daily_return(self):
    return self.daily_return.mean()

  @property
  def daily_volatility(self):
    return self.expect_daily_return - self.daily_return

  @property
  def daily_log_return(self):
    return np.log(self.daily_return + 1)

  @property
  def annual_return(self):
    return self.daily_return * (252**0.5)

  @property
  def cumulative_return(self):
    return (1 + self.daily_return).cumprod()

  def get_data(self, return_all: bool = True):
    df = self.data.copy()
    if return_all:
      df['daily_return'] = self.daily_return
      df['annual_return'] = self.annual_return
      df['daily_log_return'] = self.daily_log_return
      df['cumulative_return'] = self.cumulative_return
      df['daily_volatility'] = self.daily_volatility
      df = df.fillna(method='bfill',)
    return df


if __name__ == "__main__":
  aapl = Ticker('AAPL', period='5y')

aapl.data.head()

In [ ]:
df = aapl.get_data(return_all=True)
df.head()

In [ ]:
# Portfolio
from typing import Iterable

@dataclass
class PortfolioPerformance:
  portfolio_symbols: Iterable[str]

  def __post_init__(self):
    self.portfolio_daily_var = np.dot(self.weights.T, np.dot(self.vcv_matrix, self.weights))
    self.portfolio_daily_std = self.portfolio_daily_var ** 0.5
    self.portfolio_annual_std = self.portfolio_daily_std * (252 ** 0.5)

  @property
  def portfolio_size(self):
    return len(self.portfolio_symbols)

  @property
  def weights(self):
    return np.array([1 / self.portfolio_size] * self.portfolio_size)

  @property
  def portfolio(self):
    _df = pd.concat([Ticker(symbol).closep for symbol in portfolio_symbols], axis=1)
    _df.columns = self.portfolio_symbols
    return _df

  @property
  def returns_df(self):
    # variance and covariance matrix
    return self.portfolio.pct_change(1)

  @property
  def vcv_matrix(self):
    return self.returns_df.cov()


if __name__ == "__main__":

  portfolio_symbols = ['AAPL', 'GOOG', 'MSFT', 'TSLA']

  port_perf = PortfolioPerformance(
      portfolio_symbols = portfolio_symbols
  )
  print(f"Portfolio daily variance: {port_perf.portfolio_daily_var:4E}")
  print(f"Portfolio daily std: {port_perf.portfolio_daily_std:4E}")
  print(f"Portfolio annual std: {port_perf.portfolio_annual_std:4E}")

In [ ]:
# Compare the portfolio risk with individual risks
stocks_annual_risk = port_perf.returns_df.std() * (252 ** 0.5)
stocks_annual_risk